.vscode/
plots/
foam/
polyMesh/
dynamicCode/
[0-9]*/
[0-9]*.[0-9]*/
# Allow folder named exactly '0'
!/0/
*.c
Allclean
Allrun
*.foam
plot/
plots/
backwardFacingStep2D/
*.html
*.pdf
Manifest.toml
.cursor/
test/Manifest.toml
data/
